body, h1, h2 {
  margin: 0;
}
body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  height: 100svh;
  height: 100dvh;
}
header, footer {
  flex: 0 0 auto;
  text-align: center;
  vertical-align: middle;
}
footer {
  border-top: 1px solid black;
}
main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  width: calc(100% - 40px);
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}
h2, #total {
  flex: 0 0 auto;
}
#menu {
  flex: 1 1 auto;
  margin: 10px 0;
}
h2 {
  text-align: center;
  font-size: 16px;
}
h2::before,
h2::after {
  content: "～";
  margin: 0 10px;
}
dl {
  margin: 0 auto;
}
dl > div {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
dt {
  flex: 0 0 auto;
  max-width: 100%;
  padding-right: 10px;
  word-break: break-word;
}
.price {
  white-space: nowrap;
}
dd {
  flex: 1 0 auto;
  position: relative;
  margin: 0 0 0 auto;
  text-align: right;
}
dd::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: dotted 1px black;
}
.order-num {
  display: inline;
  position: relative;
  padding-left: 10px;
  background-color: white;
  z-index: 1;
}
.order-num .number {
  margin: 0 10px;
  line-height: 1.2em;
}
.order-num .button::before {
  display: inline-block;
  content: attr(text);
  width: 1em;
  height: 1em;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}
.order-num .button.disabled::before {
  border-color: gray;
  color: gray;
  cursor: default;
}
#total {
  margin: 0 -20px;
  padding: 5px 20px;
  background-color: #aaaaaa;
  text-align: right;
  font-weight: bold;
}
#total span {
  display: inline-block;
}
#total-num {
  width: 40px;
}
#total-amount {
  width: 70px;
}
